numpy>=1.8.0rc1
matplotlib>=1.3.1absl-py==1.0.0
ale-py==0.7.4
AutoROM==0.4.2
Box2D==2.3.2
box2d-py==2.3.8
gym==0.23.0
gym-notices==0.0.6
importlib-metadata==4.10.1
importlib-resources==5.4.0
joblib==1.1.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635837079485/work
Markdown==3.3.6
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359034653/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1641177068607/work
pygame==2.1.2
pyglet==1.5.15
rsa==4.8
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1637806815742/work
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1643121230612/work
tqdm==4.62.3
